@import "./basic.scss";

.hide {
  display: none !important;
}


.error-message {
  font-size: 1rem;
  line-height: 32px;
  color: red;
}


.input-wrap {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  box-shadow: 0 0 10px #999;
  background: #fff;
  border: 0;
  border-bottom: 1px solid #dedede;
  padding: 0 15px 0 15px;

  &.active {
    .input-hint {
      color: #515AFC;
    }
  }

  &.error {
    border: 1px solid #AF0211;

    .input-hint {
      color: #AF0211 !important;;
    }
  }

  .input-hint {
    margin: 10px 0 0 10px;
    color: #9B9B9B;
    font-size: 12px;
    line-height: 18px;
    font-weight: $bold;
  }

  .gap {
    border: 1px solid #dedede;
    height: 25px;
    margin: 0 20px 0 20px;
  }


  .after-input {
    width: 100%;

    .input-hint {
      color: #515AFC;
      margin: 0;
    }
  }

  input {
    border: 0;
    padding: 0;
    width: 100%;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #9B9B9B;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: #9B9B9B;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: #9B9B9B;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: #9B9B9B;
    }
  }
}


button.btn,
a.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  color: #5d5d5d;
  background: #fff;
  border: 1px solid #dedede;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-weight: $bold;
  outline: 0;
  margin: 0;

  &.small {
    min-width: 100px;
    height: 35px;
  }

  &.primary {
    color: #fff;
    background-color: #ff7d32;
  }

  &:focus {
    border: 0;
    outline: 0;
  }

  &.disabled {
    opacity: 0.3;
  }

  &:hover {
    color: #000;
    background-color: #fff;
  }
}
