
<div id="repo-list-page"></div>
<div class="ddd"><%= raw(@user.user_repos.to_json) %></div>
<%= javascript_tag do %>
  var kk = 'kk'
<% end %>
<%= javascript_pack_tag 'front/components/users/RepoList' %>
