
<input type="hidden" id="form-token" value="<%= form_authenticity_token %>" />

<div id="repo-page"></div>

<%= javascript_tag do %>
  var repoList = '<%= raw(@repo_list.to_json) %>'
<% end %>
<%= javascript_pack_tag 'front/components/users/Repo' %>
